header {
  background-color: black;
  border: solid 3px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.lista_premium {
  color: white;
}
footer {
  height: 100px;
  background-color: pink;
}
.logo {
  width: 120px;
}
.lista {
  display: flex;
  height: 100%;
  gap: 30px;
  align-items: center;
}
