:root{
  font-family:"Roboto", sans-serif;
}
header {
  background-color: black;
  border: solid 3px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.lista_premium {
  color: white;
}
footer {
  height: 100px;
  background-color: pink;
}
.logo {
  width: 120px;
}
.lista {
  display: flex;
  height: 100%;
  gap: 30px;
  align-items: center;
}
.bannerazul {
  background-image: url(../images/premium_dancer.png);
  height: 500px;
  background-repeat: no-repeat;
  background-position: right top;
  /* busacr color hexadecimal fondo*/
  background-color: blue;
  color: white;
  padding-left: 20px;
}

.linkverplanes {
  color: white;
}
.pruebapremium {
  font-size: 80px;
}
.section-por-que{
  display:flex;
  justify-content: space-between;
  padding-left:20px;
  padding-right: 20px;
  flex-wrap:wrap;
}
.titulo-premium{ /*quizás crear un div para eso*/
  font-weight: bold;
  text-align: center;
  padding: 40px;
  font-size: 60px;
}