header {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  display: flex;
  justify-content: space-between;
}
.lista_premium {
  color: var(--color-blanco);
}
.logo {
  width: 12rem;
}
.lista {
  display: flex;
  height: 100%;
  gap: 1rem;
  align-items: center;
}
.bannerazul {
  background-image: url(/images/premium_dancer.png);
  height: 55rem;
  background-repeat: no-repeat;
  background-position: right top;
  /* busacr color hexadecimal fondo*/
  background-color: blue;
  color: var(--color-blanco);
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  font-weight: bold;
}

.linkverplanes {
  color: var(--color-blanco);
}
.pruebapremium {
  font-size: 8rem;
}
.bannerparrafo {
  font-size: 2rem;
}
.linkverplanes {
  background-color: #199319;
  color: white;
  text-decoration: none;
  width: 9rem;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
}
