.section-por-que {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-wrap: wrap;
}
.section__article {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.section__article-texto {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  gap: 1rem;
}
.section__article-texto h3 {
  font-weight: bold;
}

.titulo-premium {
  /*quizás crear un div para eso*/
  font-weight: bold;
  text-align: center;
  padding: 4rem;
  font-size: 6rem;
}
