<main>
  <section>
    <article class="bannerazul">
      <h1 class="pruebapremium">Prueba Premium gratis 3 meses</h1>
      <p class="bannerparrafo">
        Escucha millones de canciones sin anuncions, a la carta y sin conexión.
      </p>
      <a class="linkverplanes" href=" ">VER PLANES</a>
      <p class="bannerparrafo_termycond">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, explicabo!
        Ab quia laboriosam maxime facilis facere est ullam cupiditate reiciendis
        natus aliquam sunt minus consectetur obcaecati veniam, ipsum aut
        necessitatibus?
      </p>
    </article>
  </section>

  <h2 class="titulo-premium">¿Por qué pasarte a Premium?</h2>
  <section class="section-por-que">
    <article class="section__article">
      <img src="./images/benefit-1.png" alt="" />
      <div class="section__article-texto">
        <h3>Descarga música</h3>
        <p>Llévala contigo siempre</p>
      </div>
    </article>

    <article class="section__article">
      <img src="./images/benefit-2.png" alt="" />
      <div class="section__article-texto">
        <h3>Sin anuncios</h3>
        <p>Lorem, ipsum dolor.</p>
      </div>
    </article>

    <article class="section__article">
      <img src="./images/benefit-3.png" alt="" />
      <div class="section__article-texto">
        <h3>Escucha lo que quieres</h3>
        <p>Lorem, ipsum dolor.</p>
      </div>
    </article>

    <article class="section__article">
      <img src="./images/benefit-4.png" alt="" />
      <div class="section__article-texto">
        <h3>Salta canciones</h3>
        <p>Lorem, ipsum dolor.</p>
      </div>
    </article>
  </section>
</main>
